{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_link_collection = has_permission(current_user, "link", "collection", collection.id) %}

<div class="d-flex justify-content-between">
  <a href="{{ url_for('collections.manage_links', id=collection.id) }}"
     class="btn btn-sm btn-primary my-1{% if not can_link_collection %} disabled{% endif %}">
    <i class="fa-solid fa-link"></i> {% trans %}Manage links{% endtrans %}
  </a>
  <button type="button" class="btn btn-sm btn-light my-1" @click="visualizeLinks = !visualizeLinks">
    <span v-if="!visualizeLinks">
      <i class="fa-solid fa-eye"></i> {% trans %}Visualize links{% endtrans %}
    </span>
    <span v-else>
      <i class="fa-solid fa-angle-left"></i> {% trans %}Show link overview{% endtrans %}
    </span>
  </button>
</div>
<hr>
<div v-show="!visualizeLinks">
  <resource-view title="{% trans %}Records{% endtrans %}"
                 placeholder="{% trans %}No records.{% endtrans %}"
                 :endpoint="getRecordsEndpoint"
                 :per-page="9">
  </resource-view>
  <div class="row align-items-center mt-3">
    <div class="col-md-6 col-xl-8 mb-2 mb-md-0">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="child-collections" v-model="includeChildCollections">
        <label class="form-check-label" for="child-collections">
          {% trans %}Include child collections{% endtrans %}
        </label>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <a class="btn btn-sm btn-block btn-light" :href="searchRecordsEndpoint">
        <i class="fa-solid fa-magnifying-glass"></i> {% trans %}Advanced search{% endtrans %}
      </a>
    </div>
  </div>
  <hr>
  <resource-view title="{% trans %}Child collections{% endtrans %}"
                 placeholder="{% trans %}No collections.{% endtrans %}"
                 endpoint="{{ url_for('api.get_child_collections', id=collection.id) }}"
                 :per-page="9">
  </resource-view>
</div>
<div v-show="visualizeLinks">
  <div class="input-group input-group-sm mb-3">
    <input id="link-filter"
           class="form-control"
           placeholder="{% trans %}Filter by identifier{% endtrans %}"
           v-model="linkFilter">
    <clear-button input-id="link-filter" :input="linkFilter" @clear-input="linkFilter = ''"></clear-button>
  </div>
  <collection-links-graph endpoint="{{ url_for('api.get_collection_links_graph', id=collection.id) }}"
                          :filter="linkFilter"
                          :is-rendered="currentTab === 'links' && visualizeLinks"
                          v-if="renderLinksGraph">
  </collection-links-graph>
</div>
