{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("records.new_record"), title=title %}
{% endblock %}

{% block content %}
  <div class="card bg-light mb-4" data-tour="import">
    <div class="card-body py-2">
      <div class="row align-items-center">
        <div class="col-sm-6 mb-2 mb-sm-0">
          <import-form :max-size="{{ const.IMPORT_MAX_SIZE }}">{{ render_csrf() }}</import-form>
        </div>
        <div class="col-sm-6">
          <dynamic-selection container-classes="select2-single-sm"
                             endpoint="{{ url_for('api.select_templates', type='record') }}"
                             placeholder="{% trans %}Select a record template{% endtrans %}"
                             :reset-on-select="true"
                             @select="selectTemplate">
          </dynamic-selection>
        </div>
      </div>

      {% if record_template is not none %}
        <hr class="my-2">
        <collapse-item id="template-description"
                       class="text-default"
                       :is-collapsed="{{ (not bool(record_template.description)) | tojson_escaped }}">
          <strong>{{ record_template.title }}</strong>
        </collapse-item>
        <div id="template-description" class="mt-1">
          <div class="card">
            <div class="card-body">
              {% if record_template.description %}
                <markdown-renderer input="{{ record_template.description }}"></markdown-renderer>
              {% else %}
                <em class="text-muted">{% trans %}No description.{% endtrans %}</em>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <submission-form action="?redirect={{ redirect }}">
    {{ render_csrf() }}

    <div class="card mb-4">
      <div class="card-header py-2" data-tour="metadata">
        <strong>{% trans %}Metadata{% endtrans %}</strong>
      </div>
      <div class="card-body">
        {% include "records/snippets/base_record_form.html" %}
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header py-2" data-tour="settings">
        <strong>{% trans %}Additional settings{% endtrans %}</strong>
      </div>
      <div class="card-body">
        <dynamic-select-field endpoint="{{ url_for('api.select_collections') }}"
                              placeholder="{% trans %}Search for collections{% endtrans %}"
                              data-tour="settings-collections"
                              :field="{{ form.collections }}"
                              :request-params="{action: 'link'}"
                              :multiple="true">
        </dynamic-select-field>
        <record-links-field records-endpoint="{{ url_for('api.select_records', action='link') }}"
                            names-endpoint="{{ url_for('api.select_link_names') }}"
                            {% if has_capabilities("term_search") %}
                              terms-endpoint="{{ url_for('api.get_terms') }}"
                            {% endif %}
                            data-tour="settings-records"
                            :field="{{ form.record_links }}">
        </record-links-field>
        <roles-field class="mb-0"
                     users-endpoint="{{ url_for('api.select_users') }}"
                     groups-endpoint="{{ url_for('api.select_groups') }}"
                     data-tour="settings-permissions"
                     :user-request-params="{exclude: {{ current_user.id }}}"
                     :field="{{ form.roles }}">
          <roles-popover :small-layout="true" :roles="{{ get_object_roles('record') | tojson_escaped }}">
          </roles-popover>
        </roles-field>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body py-2">
        <submit-field class="my-1 mr-1" data-tour="submit" :field="{{ form.submit_files }}"></submit-field>
        <submit-field class="my-1 mr-1" :field="{{ form.submit }}"></submit-field>
      </div>
    </div>
  </submission-form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          title: '',
          titleField: kadi.context.title_field,
        };
      },
      methods: {
        selectTemplate(template) {
          const url = kadi.utils.setSearchParam('template', template.id);
          window.location.href = url;
        },
      },
      mounted() {
        this.title = this.titleField.data;
        kadi.base.tour.initialize('basic', 'new-record');
      },
    });
  </script>
{% endblock %}
