{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block breadcrumbs %}
  {% include "snippets/breadcrumb_home.html" %}
  {% snippet "snippets/breadcrumb.html", url=url_for("main.help"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="row">
      <div class="d-none d-lg-block col-lg-3">
        <nav id="help-navbar"
             class="navbar flex-column align-items-stretch overflow-auto vh-75 bg-light border-right">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link my-1" href="#login">
              <strong>{% trans %}Login{% endtrans %}</strong>
            </a>
            <a class="nav-link my-1" href="#navigation">
              <strong>{% trans %}Navigation{% endtrans %}</strong>
            </a>
            <a class="nav-link my-1" href="#records">
              <strong>{% trans %}Records{% endtrans %}</strong>
            </a>
            <a class="nav-link my-1" href="#collections">
              <strong>{% trans %}Collections{% endtrans %}</strong>
            </a>
            <a class="nav-link my-1" href="#templates">
              <strong>{% trans %}Templates{% endtrans %}</strong>
            </a>
            <a class="nav-link my-1" href="#users">
              <strong>{% trans %}Users{% endtrans %}</strong>
            </a>
            <a class="nav-link my-1" href="#groups">
              <strong>{% trans %}Groups{% endtrans %}</strong>
            </a>
            <a class="nav-link my-1" href="#settings">
              <strong>{% trans %}Settings{% endtrans %}</strong>
            </a>
          </nav>
        </nav>
      </div>
      <div class="col-12 col-lg-9">
        <div class="overflow-auto vh-75" data-spy="scroll" data-target="#help-navbar" data-offset="200">
          <div class="mx-3 mt-3 ml-lg-0">
            {% include "main/snippets/help/login.html" %}
            <hr>
            {% include "main/snippets/help/navigation.html" %}
            <hr>
            {% include "main/snippets/help/records.html" %}
            <hr>
            {% include "main/snippets/help/collections.html" %}
            <hr>
            {% include "main/snippets/help/templates.html" %}
            <hr>
            {% include "main/snippets/help/users.html" %}
            <hr>
            {% include "main/snippets/help/groups.html" %}
            <hr>
            {% include "main/snippets/help/settings.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
