{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("collections.view_collection", id=collection.id, tab="permissions"),
             title=collection.title %}
  {% snippet "snippets/breadcrumb.html", url=url_for("collections.manage_permissions", id=collection.id), title=title %}
{% endblock %}

{% block content %}
  {% snippet "collections/snippets/back_to_collection.html", collection=collection, tab="permissions" %}

  <div class="card">
    <nav-tabs :tabs="['collection', 'records']">
      <template #collection-head>
        {% trans %}Collection{% endtrans %}
      </template>
      <template #collection-body>
        {% include "collections/snippets/manage_collection_permissions.html" %}
      </template>
      <template #records-head>
        {% trans %}Linked records{% endtrans %}
      </template>
      <template #records-body>
        {% include "collections/snippets/manage_record_permissions.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}
