{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_link_record = has_permission(current_user, "link", "record", record.id) %}

<div class="d-flex justify-content-between">
  <a href="{{ url_for('records.manage_links', id=record.id) }}"
     class="btn btn-sm btn-primary my-1{% if not can_link_record %} disabled{% endif %}">
    <i class="fa-solid fa-link"></i> {% trans %}Manage links{% endtrans %}
  </a>
  <button type="button" class="btn btn-sm btn-light my-1" @click="visualizeLinks = !visualizeLinks">
    <span v-if="!visualizeLinks">
      <i class="fa-solid fa-eye"></i> {% trans %}Visualize record links{% endtrans %}
    </span>
    <span v-else>
      <i class="fa-solid fa-angle-left"></i> {% trans %}Show link overview{% endtrans %}
    </span>
  </button>
</div>
<hr>
<div v-show="!visualizeLinks">
  <record-links-view endpoint="{{ url_for('api.get_record_links', id=record.id, direction='out') }}"
                     title="{% trans %}Outgoing record links{% endtrans %}"
                     direction="out">
  </record-links-view>
  <hr>
  <record-links-view endpoint="{{ url_for('api.get_record_links', id=record.id, direction='in') }}"
                     title="{% trans %}Incoming record links{% endtrans %}"
                     direction="in">
  </record-links-view>
  <hr>
  <resource-view endpoint="{{ url_for('api.get_record_collections', id=record.id) }}"
                 title="{% trans %}Collections{% endtrans %}"
                 placeholder="{% trans %}No collections.{% endtrans %}">
  </resource-view>
</div>
<div v-show="visualizeLinks">
  <div class="row mb-3">
    <div class="col-md-6 mb-2 mb-md-0">
      <select class="custom-select custom-select-sm" v-model="linkDirection">
        <option value="">{% trans %}All links{% endtrans %}</option>
        <option value="out">{% trans %}Outgoing links{% endtrans %}</option>
        <option value="in">{% trans %}Incoming links{% endtrans %}</option>
      </select>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-sm">
        <input id="link-filter"
               class="form-control"
               placeholder="{% trans %}Filter by identifier{% endtrans %}"
               v-model="linkFilter">
        <clear-button input-id="link-filter" :input="linkFilter" @clear-input="linkFilter = ''"></clear-button>
      </div>
    </div>
  </div>
  <record-links-graph endpoint="{{ url_for('api.get_record_links_graph', id=record.id) }}"
                      :start-record="{{ record.id }}"
                      :initial-depth="linkDepth"
                      :direction="linkDirection"
                      :filter="linkFilter"
                      :is-rendered="currentTab === 'links' && visualizeLinks"
                      @update-depth="updateLinkDepth"
                      v-if="renderLinksGraph">
  </record-links-graph>
</div>
